.features-wrapper{
  background:black;
  width: 100%;
}

.features-wrapper > .scrollmagic-pin-spacer:first-child {
  padding-bottom: 300px !important;

}

.scroll-margin-features {
  scroll-margin: 235px;
}

.space-squiggle {
  padding-top: 10px;
}
