
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 3px white;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

.lighten{
    opacity: 1;
}

#text_1 {
    font-kerning: none;
}

body{
  font-family: Outfit, Urbanist, Arial, Helvetica, sans-serif;
  color: white;
}
.right-panel-menu ul li{
  height: 44px;
  cursor: pointer;
  padding-top: 15px;
}

.right-panel-menu ul li.active {
  color: #00EEFD;
}
.right-panel-menu.transition-transform {
  transition-duration: 600ms;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animated-slide-in {
  animation: slide-in 0.6s forwards;
}

.animated-slide-out {
  animation: slide-out 0.6s forwards;
}
